/* MAIN PAGE */
.services-page {
  padding: 4rem 1rem;
  background: #0f172a;
}

/* HEADING */
.services-section h1 {
  color: #00bfff;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-size: 3rem;
}
.services-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* LEARN MORE BUTTON */
.service-page .learn-more-btn {
  margin-top: 12px;
  padding: 10px 22px;
  background: #29b6f6;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-block;
}

.service-page .learn-more-btn:hover {
  background: #29b6f6;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(79, 70, 229, 0.35);
}

/*  BOOK SERVICE BUTTON */
.book-btn {
  display: block;
  margin: 30px auto;
  padding: 12px 30px;
  background: #00bfff;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  width: fit-content;
}

.book-btn:hover {
  background: #009acd;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 173, 220, 0.35);
}

/* ------------------------------------------
  RESPONSIVENESS
------------------------------------------ */

/* TABLET */
/* TABLET */
@media (min-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 top + 2 bottom */
    max-width: 900px; /* center aur compact look */
  }
}
@media (max-width: 992px) {
  .services-section h1 {
    font-size: 2.4rem;
    text-align: center;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .services-section h1 {
    font-size: 2rem;
  }

  .services-grid {
    gap: 1.5rem;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .services-page {
    padding: 2rem 1rem;
  }

  .services-section h1 {
    font-size: 1.6rem;
  }

  .services-grid {
    grid-template-columns: 1fr; /* single column */
  }
}
