* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
}

/* 🔥 MAIN FIX */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 👇 ye content ko stretch karega */
.main-content {
  flex: 1;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding:0;
  
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
